In [27]:
import sys
import pm4py
from datetime import datetime
import numpy as np
from pm4py.objects.log.util import dataframe_utils
from pm4py.statistics.traces.generic.log import case_statistics
from pm4py.objects.conversion.log import converter as log_converter

In [2]:
sys.path.append("../utils/")

In [3]:
from runner import Runner

In [4]:
runner = Runner("Matrix-Chain", "../Matrix-Chain-4/variants-linnea/generate-variants-linnea.py")

In [5]:
args = ["10","110","120","130","500"]
ret = runner.generate_run_experiments(args,bRun=True, bGenerate=False)

Running Experiments
Experiments completed

In [13]:
ct,et,rt = runner.get_all_tables(runner.get_exp_dir(args), meta=True)

In [85]:
ct

  case:concept:name  case:flops  case:num_kernels
0        algorithm1  14900000.0                 3
1        algorithm5  29100000.0                 3
2        algorithm4  29100000.0                 3
3        algorithm0   2710000.0                 3
4        algorithm3  18000000.0                 3
5        algorithm2  17900000.0                 3

In [86]:
et

,case:concept:name,concept:name,concept:flops,concept:kernel,concept:operation,timestamp:start
0,algorithm1,gemm_3.12e+05,312000.0,"gemm!('N', 'N', 1.0, ml1, ml2, 0.0, ml4)",tmp2 = (B C),2022-06-08 17:34:00.870614
1,algorithm1,gemm_2.86e+05,286000.0,"gemm!('N', 'N', 1.0, ml0, ml4, 0.0, ml5)",tmp4 = (A tmp2),2022-06-08 17:34:01.870614
2,algorithm1,gemm_1.43e+07,14300000.0,"gemm!('N', 'N', 1.0, ml5, ml3, 0.0, ml6)",tmp6 = (tmp4 D),2022-06-08 17:34:02.870614
3,algorithm5,gemm_2.64e+05,264000.0,"gemm!('N', 'N', 1.0, ml0, ml1, 0.0, ml4)",tmp1 = (A B),2022-06-08 17:40:40.870614
4,algorithm5,gemm_1.56e+07,15600000.0,"gemm!('N', 'N', 1.0, ml2, ml3, 0.0, ml5)",tmp3 = (C D),2022-06-08 17:40:41.870614
5,algorithm5,gemm_1.32e+07,13200000.0,"gemm!('N', 'N', 1.0, ml4, ml5, 0.0, ml6)",tmp6 = (tmp1 tmp3),2022-06-08 17:40:42.870614
6,algorithm4,gemm_1.56e+07,15600000.0,"gemm!('N', 'N', 1.0, ml2, ml3, 0.0, ml4)",tmp3 = (C D),2022-06-08 17:39:00.870614
7,algorithm4,gemm_2.64e+05,264000.0,"gemm!('N', 'N', 1.0, ml0, ml1, 0.0, ml5)",tmp1 = (A B),2022-06-08 17:39:01.870614
8,algorithm4,gemm_1.32e+07,13200000.0,"gemm!('N', 'N', 1.0, ml5, ml4, 0.0, ml6)",tmp6 = (tmp1 tmp3),2022-06-08 17:39:02.870614
9,algorithm0,gemm_3.12e+05,312000.0,"gemm!('N', 'N', 1.0, ml1, ml2, 0.0, ml4)",tmp2 = (B C),2022-06-08 17:32:20.870614
10,algorithm0,gemm_1.3e+06,1300000.0,"gemm!('N', 'N', 1.0, ml4, ml3, 0.0, ml5)",tmp5 = (tmp2 D),2022-06-08 17:32:21.870614
11,algorithm0,gemm_1.1e+06,1100000.0,"gemm!('N', 'N', 1.0, ml0, ml5, 0.0, ml6)",tmp6 = (A tmp5),2022-06-08 17:32:22.870614
12,algorithm3,gemm_2.64e+05,264000.0,"gemm!('N', 'N', 1.0, ml0, ml1, 0.0, ml4)",tmp1 = (A B),2022-06-08 17:37:20.870614
13,algorithm3,gemm_3.43e+06,3430000.0,"gemm!('N', 'N', 1.0, ml4, ml2, 0.0, ml5)",tmp4 = (tmp1 C),2022-06-08 17:37:21.870614
14,algorithm3,gemm_1.43e+07,14300000.0,"gemm!('N', 'N', 1.0, ml5, ml3, 0.0, ml6)",tmp6 = (tmp4 D),2022-06-08 17:37:22.870614
15,algorithm2,gemm_1.56e+07,15600000.0,"gemm!('N', 'N', 1.0, ml2, ml3, 0.0, ml4)",tmp3 = (C D),2022-06-08 17:35:40.870614
16,algorithm2,gemm_1.2e+06,1200000.0,"gemm!('N', 'N', 1.0, ml1, ml4, 0.0, ml5)",tmp5 = (B tmp3),2022-06-08 17:35:41.870614
17,algorithm2,gemm_1.1e+06,1100000.0,"gemm!('N', 'N', 1.0, ml0, ml5, 0.0, ml6)",tmp6 = (A tmp5),2022-06-08 17:35:42.870614

In [14]:
rt

,case:concept:name,concept:name,concept:kernel,timestamp:start,timestamp:end
0,algorithm1,gemm_3.12e+05,"gemm!('N', 'N', 1.0, ml1, ml2, 0.0, ml4)",1.654706e+09,1.654706e+09
1,algorithm1,gemm_2.86e+05,"gemm!('N', 'N', 1.0, ml0, ml4, 0.0, ml5)",1.654706e+09,1.654706e+09
2,algorithm1,gemm_1.43e+07,"gemm!('N', 'N', 1.0, ml5, ml3, 0.0, ml6)",1.654706e+09,1.654706e+09
3,algorithm5,gemm_2.64e+05,"gemm!('N', 'N', 1.0, ml0, ml1, 0.0, ml4)",1.654706e+09,1.654706e+09
4,algorithm5,gemm_1.56e+07,"gemm!('N', 'N', 1.0, ml2, ml3, 0.0, ml5)",1.654706e+09,1.654706e+09
5,algorithm5,gemm_1.32e+07,"gemm!('N', 'N', 1.0, ml4, ml5, 0.0, ml6)",1.654706e+09,1.654706e+09
6,algorithm4,gemm_1.56e+07,"gemm!('N', 'N', 1.0, ml2, ml3, 0.0, ml4)",1.654706e+09,1.654706e+09
7,algorithm4,gemm_2.64e+05,"gemm!('N', 'N', 1.0, ml0, ml1, 0.0, ml5)",1.654706e+09,1.654706e+09
8,algorithm4,gemm_1.32e+07,"gemm!('N', 'N', 1.0, ml5, ml4, 0.0, ml6)",1.654706e+09,1.654706e+09
9,algorithm0,gemm_3.12e+05,"gemm!('N', 'N', 1.0, ml1, ml2, 0.0, ml4)",1.654706e+09,1.654706e+09
10,algorithm0,gemm_1.3e+06,"gemm!('N', 'N', 1.0, ml4, ml3, 0.0, ml5)",1.654706e+09,1.654706e+09
11,algorithm0,gemm_1.1e+06,"gemm!('N', 'N', 1.0, ml0, ml5, 0.0, ml6)",1.654706e+09,1.654706e+09
12,algorithm3,gemm_2.64e+05,"gemm!('N', 'N', 1.0, ml0, ml1, 0.0, ml4)",1.654706e+09,1.654706e+09
13,algorithm3,gemm_3.43e+06,"gemm!('N', 'N', 1.0, ml4, ml2, 0.0, ml5)",1.654706e+09,1.654706e+09
14,algorithm3,gemm_1.43e+07,"gemm!('N', 'N', 1.0, ml5, ml3, 0.0, ml6)",1.654706e+09,1.654706e+09
15,algorithm2,gemm_1.56e+07,"gemm!('N', 'N', 1.0, ml2, ml3, 0.0, ml4)",1.654706e+09,1.654706e+09
16,algorithm2,gemm_1.2e+06,"gemm!('N', 'N', 1.0, ml1, ml4, 0.0, ml5)",1.654706e+09,1.654706e+09
17,algorithm2,gemm_1.1e+06,"gemm!('N', 'N', 1.0, ml0, ml5, 0.0, ml6)",1.654706e+09,1.654706e+09

In [19]:
def convert_timestamp_todtime(timestamp):
    return datetime.fromtimestamp(timestamp).strftime('%Y-%m-%d %H:%M:%S.%f')

def convert_timestamp_format(df):
    df['timestamp:start'] = df['timestamp:start'].apply(convert_timestamp_todtime)
    df['timestamp:end'] = df['timestamp:end'].apply(convert_timestamp_todtime)
    df = dataframe_utils.convert_timestamp_columns_in_df(df)
    
def get_trace_durations(event_table):
    dfs= event_table.drop_duplicates('case:concept:name', keep='first')[['case:concept:name','timestamp:start']]
    dfe= event_table.drop_duplicates('case:concept:name', keep='last')[['case:concept:name','timestamp:end']]
    dfm = dfs.merge(dfe, on='case:concept:name')
    dfm['case:duration'] = dfm.apply(lambda row: (row['timestamp:end']-row['timestamp:start']).total_seconds(), axis=1)
    dfm = dfm.rename(columns={
        'timestamp:start':'case:timestamp:start',
        'timestamp:end':'case:timestamp:end',
    })
    return dfm

In [15]:
convert_timestamp_format(rt)

In [17]:
rt.head()

,case:concept:name,concept:name,concept:kernel,timestamp:start,timestamp:end
0,algorithm1,gemm_3.12e+05,"gemm!('N', 'N', 1.0, ml1, ml2, 0.0, ml4)",2022-06-08 18:35:29.809016+00:00,2022-06-08 18:35:29.810715+00:00
1,algorithm1,gemm_2.86e+05,"gemm!('N', 'N', 1.0, ml0, ml4, 0.0, ml5)",2022-06-08 18:35:29.810715+00:00,2022-06-08 18:35:29.810777+00:00
2,algorithm1,gemm_1.43e+07,"gemm!('N', 'N', 1.0, ml5, ml3, 0.0, ml6)",2022-06-08 18:35:29.810777+00:00,2022-06-08 18:35:29.811793+00:00
3,algorithm5,gemm_2.64e+05,"gemm!('N', 'N', 1.0, ml0, ml1, 0.0, ml4)",2022-06-08 18:35:29.812593+00:00,2022-06-08 18:35:29.812653+00:00
4,algorithm5,gemm_1.56e+07,"gemm!('N', 'N', 1.0, ml2, ml3, 0.0, ml5)",2022-06-08 18:35:29.812653+00:00,2022-06-08 18:35:29.813176+00:00

In [20]:
case_durations = get_trace_durations(rt)

In [21]:
case_durations

,case:concept:name,case:timestamp:start,case:timestamp:end,case:duration
0,algorithm1,2022-06-08 18:35:29.809016+00:00,2022-06-08 18:35:29.811793+00:00,0.002777
1,algorithm5,2022-06-08 18:35:29.812593+00:00,2022-06-08 18:35:29.813592+00:00,0.000999
2,algorithm4,2022-06-08 18:35:29.819290+00:00,2022-06-08 18:35:29.819758+00:00,0.000468
3,algorithm0,2022-06-08 18:35:29.819820+00:00,2022-06-08 18:35:29.820248+00:00,0.000428
4,algorithm3,2022-06-08 18:35:29.820588+00:00,2022-06-08 18:35:29.821205+00:00,0.000617
5,algorithm2,2022-06-08 18:35:29.821494+00:00,2022-06-08 18:35:29.822401+00:00,0.000907

In [23]:
case_table = case_durations.merge(ct, on='case:concept:name')

In [24]:
case_table

,case:concept:name,case:timestamp:start,case:timestamp:end,case:duration,case:flops,case:num_kernels
0,algorithm1,2022-06-08 18:35:29.809016+00:00,2022-06-08 18:35:29.811793+00:00,0.002777,14900000.0,3
1,algorithm5,2022-06-08 18:35:29.812593+00:00,2022-06-08 18:35:29.813592+00:00,0.000999,29100000.0,3
2,algorithm4,2022-06-08 18:35:29.819290+00:00,2022-06-08 18:35:29.819758+00:00,0.000468,29100000.0,3
3,algorithm0,2022-06-08 18:35:29.819820+00:00,2022-06-08 18:35:29.820248+00:00,0.000428,2710000.0,3
4,algorithm3,2022-06-08 18:35:29.820588+00:00,2022-06-08 18:35:29.821205+00:00,0.000617,18000000.0,3
5,algorithm2,2022-06-08 18:35:29.821494+00:00,2022-06-08 18:35:29.822401+00:00,0.000907,17900000.0,3

In [25]:
event_table = rt.merge(case_table, on='case:concept:name')

In [26]:
event_table.head()

,case:concept:name,concept:name,concept:kernel,timestamp:start,timestamp:end,case:timestamp:start,case:timestamp:end,case:duration,case:flops,case:num_kernels
0,algorithm1,gemm_3.12e+05,"gemm!('N', 'N', 1.0, ml1, ml2, 0.0, ml4)",2022-06-08 18:35:29.809016+00:00,2022-06-08 18:35:29.810715+00:00,2022-06-08 18:35:29.809016+00:00,2022-06-08 18:35:29.811793+00:00,0.002777,14900000.0,3
1,algorithm1,gemm_2.86e+05,"gemm!('N', 'N', 1.0, ml0, ml4, 0.0, ml5)",2022-06-08 18:35:29.810715+00:00,2022-06-08 18:35:29.810777+00:00,2022-06-08 18:35:29.809016+00:00,2022-06-08 18:35:29.811793+00:00,0.002777,14900000.0,3
2,algorithm1,gemm_1.43e+07,"gemm!('N', 'N', 1.0, ml5, ml3, 0.0, ml6)",2022-06-08 18:35:29.810777+00:00,2022-06-08 18:35:29.811793+00:00,2022-06-08 18:35:29.809016+00:00,2022-06-08 18:35:29.811793+00:00,0.002777,14900000.0,3
3,algorithm5,gemm_2.64e+05,"gemm!('N', 'N', 1.0, ml0, ml1, 0.0, ml4)",2022-06-08 18:35:29.812593+00:00,2022-06-08 18:35:29.812653+00:00,2022-06-08 18:35:29.812593+00:00,2022-06-08 18:35:29.813592+00:00,0.000999,29100000.0,3
4,algorithm5,gemm_1.56e+07,"gemm!('N', 'N', 1.0, ml2, ml3, 0.0, ml5)",2022-06-08 18:35:29.812653+00:00,2022-06-08 18:35:29.813176+00:00,2022-06-08 18:35:29.812593+00:00,2022-06-08 18:35:29.813592+00:00,0.000999,29100000.0,3

In [28]:
event_table = event_table.sort_values('timestamp:start')
event_log = log_converter.apply(event_table)

In [33]:
for trace in event_log:
    print(trace.attributes['concept:name'], trace.attributes['duration'])

algorithm1 0.002777
algorithm5 0.000999
algorithm4 0.000468
algorithm0 0.000428
algorithm3 0.000617
algorithm2 0.000907